<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ARRAre.Properties.Settings.ARRAConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\ARRA.accdb"
            providerName="System.Data.OleDb" />
        <add name="ARRAConnection" connectionString="XpoProvider=MSAccess;Provider=Microsoft.ACE.OLEDB.12.0;Mode=Share Deny None;data source=C:\Users\DarkFish\Desktop\ArraProject\ArraDB\ARRA.accdb;Jet OLEDB:Database Password=;" />
        <add name="ARRAConnection 1" connectionString="XpoProvider=MSAccess;Provider=Microsoft.ACE.OLEDB.12.0;Mode=Share Deny None;data source=C:\Users\DarkFish\Desktop\ArraProject\ArraDB\ARRA.accdb;Jet OLEDB:Database Password=;" />
        <add name="ARRAConnection 2" connectionString="XpoProvider=MSAccess;Provider=Microsoft.ACE.OLEDB.12.0;Mode=Share Deny None;data source=D:\ArraDB\ARRA.accdb;Jet OLEDB:Database Password=;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>